@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

*{
    --code-font :'Fira Code', monospace;
}

.header{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.divider{
  margin: 10px 0;
  height: 3px;
  width: 100%;
  background-color: grey;
}

.grid{
  margin: auto;
  height: 50vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
}

.col{
  height: 100%;
  border-style: solid;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items:center;
}

.col-header{
    font-weight: bold;
}

.btn{
    margin: 20px 0;
}

#show-code{
    margin: 2rem;
    background-color: black;
    color: white;
}

#code{
    margin-left: 2rem;
    width: max-content;
    height: max-content;
    background-color: #121212;
    box-shadow: 10px 10px 8px -2px #b3b3b3;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-family: var(--code-font);
}

#code.show{
    display: block;
}

#code.hide{
    display: none;
}